<!--
 * @Author: your name
 * @Date: 2021-05-15 16:11:03
 * @LastEditTime: 2021-05-15 17:26:57
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \亿购商城\application\admin\view\users\edit_users.html
-->
<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">用户名称</label>
            <div class="layui-input-block">
                <input name="user_name" required placeholder="请输入用户名称" value="{$info.username}" class="layui-input">
                <input type="hidden" name="_csrf_" value="{:systoken('admin/users/edit_users')}">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">手机号码</label>
            <div class="layui-input-block">
                <input name="tel" required placeholder="请输入手机号码" value="{$info.tel}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">账号余额</label>
            <div class="layui-input-block">
                <input name="balance" type="number" min="0" required placeholder="请输入账号余额" value="{$info.balance}"
                    class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">冻结金额</label>
            <div class="layui-input-block">
                <input name="freeze_balance" type="number" min="0" required placeholder="冻结金额"
                    value="{$info.freeze_balance}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">会员等级</label>
            <div class="layui-input-block">
                <select name="level" id="selectList">
                    {foreach $level as $key=>$vo}
                    <option value="{$vo.level}" <?php echo $info['level']==$vo['level'] ? 'selected' : '' ; ?>
                        >{$vo.name}</option>
                    {/foreach}
                </select>
                <!--<input name="freeze_balance" type="number" min="0" required placeholder="冻结金额" value="{$info.freeze_balance}" class="layui-input">-->
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">匹配范围</label>
            <div class="layui-input-block">
                <input name="deal_min_num" type="number" min="0" max="100" placeholder="从" value="{$info.deal_min_num}"
                    class="layui-input">
            </div>
            <div class="layui-input-block">
                <input name="deal_max_num" type="number" min="0" max="100" placeholder="到" value="{$info.deal_max_num}"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">冻结金额</label>
            <div class="layui-input-block">
                <input name="freeze_balance" type="number" min="0" required placeholder="冻结金额"
                    value="{$info.freeze_balance}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登录密码</label>
            <div class="layui-input-block">
                <input name="pwd" placeholder="留空不修改密码" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">交易密码</label>
            <div class="layui-input-block">
                <input name="pwd2" placeholder="留空不修改交易密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级ID</label>
            <div class="layui-input-block">
                <input name="parent_id" placeholder="请输入上级ID" value="{$info.parent_id}" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">团队佣金</label>
            <div class="layui-input-block">
                <input name="team_commission" placeholder="请输入上级ID" value="{$info.team_commission}" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">今日已抢佣金</label>
            <div class="layui-input-block">
                <input name="commission" placeholder="请输入上级ID" value="{$info.commission}" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">昨天收益</label>
            <div class="layui-input-block">
                <input name="income" placeholder="请输入上级ID" value="{$info.income}" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">今天已抢单数</label>
            <div class="layui-input-block">
                <input name="odd_number" placeholder="请输入上级ID" value="{$info.odd_number}" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">信用分</label>
            <div class="layui-input-block">
                <input name="credit" placeholder="请输入上级ID" value="{$info.credit}" class="layui-input">
            </div>
        </div>
    </div>
    <input name="id" type="hidden" value="{$info.id}">

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>