{extend name='main'}

{block name="content"}
<div class="layui-card">
    <div class="layui-card-header layui-anim layui-anim-fadein notselect">
        <span class="layui-icon layui-icon-next font-s10 color-desc margin-right-5"></span>预派送列表
        <div class="pull-right">
            <a data-open="{:url('add_order')}" class="layui-btn">派送</a>
            <a data-open="{:url('pre_add_order')}" class="layui-btn">预派送</a>
        </div>
    </div>
</div>
<div class="think-box-shadow">
    
    {include file='deal/pre_order_list_search'}
    
    <table class="layui-table margin-top-15" lay-skin="line">
        <thead>
        <tr>
            <th class='text-left nowrap'>用户ID</th>
            <th class='text-left nowrap'>用户账号</th>
            <th class='text-left nowrap'>今日已完成单数</th>
            <th class='text-left nowrap'>触发数量</th>
            <th class='text-left nowrap'>商品ID:数量</th>
            <th class='text-left nowrap'>总额</th>
            <th class='text-left nowrap'>添加时间</th>
            <th class='text-left nowrap'>状态</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.uid}</td>
            <td class='text-left nowrap'>{$vo.tel}</td>
            <td class='text-left nowrap'>{$conveyNum[$vo['uid']]??0}</td>
            <td class='text-left nowrap'>{$vo.order_num}</td>
            <td class='text-left nowrap'>{$vo.goods_id}</td>
            <td class='text-left nowrap'>{$vo.total}</td>
            <td class='text-left nowrap'>{$vo.created_at|format_datetime}</td>
            <td class='text-left nowrap'>{$vo.status?'已处理':'未处理'}</td>
            <td class='text-left nowrap'>
                {if $vo.status==0}
                <a class="layui-btn layui-btn-xs layui-btn" onClick="pre_order_del({$vo.id})" style='background:green;'>删除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>
    function pre_order_del(id){
         layer.confirm("确认要删除吗，删除后不能恢复",{ title: "删除确认" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('pre_order_del')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/deal/pre_order_del')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    location.reload();
                }
            });
        },function(){});
    }
</script>
{/block}
